@font-face
    font-family: 'Garaldus'
    src: url(../extra/fonts/GFSGaraldus.otf)
    font-style: normal
    font-weight: 400

@font-face
    font-family: 'Fantasque Sans Mono'
    src: url(../extra/fonts/FantasqueSansMono-Regular.otf)
    font-style: normal
    font-weight: 400

@font-face
    font-family: 'Fantasque Sans Mono'
    src: url(../extra/fonts/FantasqueSansMono-Italic.otf)
    font-style: italic;
    font-weight: 400

@font-face
    font-family: 'Fantasque Sans Mono'
    src: url(../extra/fonts/FantasqueSansMono-Bold.otf)
    font-style: normal
    font-weight: 700

@font-face
    font-family: 'Fantasque Sans Mono'
    src: url(../extra/fonts/FantasqueSansMono-BoldItalic.otf)
    font-style: italic
    font-weight: 700

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo-Light.otf)
    font-style: normal
    font-weight: 300

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo.otf)
    font-style: normal
    font-weight: 400

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo-Medium.otf)
    font-style: normal
    font-weight: 500

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo-DemiBold.otf)
    font-style: normal
    font-weight: 600

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo-Bold.otf)
    font-style: normal
    font-weight: 700

@font-face
    font-family: 'Repo'
    src: url(../extra/fonts/Repo-ExtraBold.otf)
    font-style: normal
    font-weight: 800
