<!doctype html>
<html class="no-js" lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
        <script src="{{ SITEURL }}/theme/js/vendor/modernizr-2.8.3.min.js"></script>
        {% endblock head %}
    </head>
    <body id="site">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="sitehead">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            {% if SITESUBTITLE %}
            <h2><a href="{{ SITEURL }}/{{ SITESUBURL }}/">{{ SITESUBTITLE }}</a></h2>
            {% endif %}
        </header>
        <nav id="sitemenu">
            <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            </ul>
        </nav>
        <div id="sitecontent" role="main">
        {% block content %}
        {% endblock content %}
        </div>
        <aside id="siteside">
            <section id="about">
                <h3>About</h3>
                <p>Me, and stuff.</p>
            </section>
            <section id="projects">
                <h3>Projects</h3>
                <p>Some projects I've worked on, link to GitHub.</p>
            </section>
            <section id="tags">
                <h3>Tags</h3>
                <p>Some pinned tags and a link to all tags.</p>
            </section>
        </aside>
        <footer id="sitefoot">
            <address></address>
        </footer>
        {% block scripts %}
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/vendor/jquery-1.12.2.min.js"><\/script>')</script>
        <script src="{{ SITEURL }}/theme/js/plugins.js"></script>
        <script src="{{ SITEURL }}/theme/js/main.js"></script>
        {% endblock scripts %}
    </body>
</html>
