        {% extends "base.html" %}
        {% block content %}
            <section id="articles">
                {% block content_title %}
                {% endblock %}
                {% if articles_page.has_other_pages() and articles_page.has_previous() %}
                <p class="paginator">
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">newer</a>
                </p>
                {% endif %}
                <ul id="article-list">
                    {% for article in articles_page.object_list %}
                    <li>
                        <article>
                            <header>
                                <h2 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}"><span> {{ article.title|replace(" ", " </span> <span> ") }} </span></a></h2>
                            </header>
                            <div class="article-summary">
                                {{ article.summary }}
                            </div>
                            <figure class="article-key-image" style="background-image: url({{ article.key_image }})"></figure>
                            <footer class="article-info">
                                <abbr class="article-published" title="{{ article.date.isoformat() }}"> {{ article.date|strftime('%B %Y') }} </abbr>
                            </footer>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
                {% if articles_page.has_other_pages() and articles_page.has_next() %}
                <p class="paginator">
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}">older</a>
                </p>
                {% endif %}
            </section>
        {% endblock content %}
