        {% extends "base.html" %}
        {% block content %}
            <section id="articles">
                <ul id="article-list">
                    {% for article in articles_page.object_list %}
                    <li>
                        <article>
                            <header>
                                <h2 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                            </header>
                            <footer class="article-info">
                                <abbr class="article-published" title="{{ article.date.isoformat() }}"> {{ article.date|strftime('%B %Y') }} </abbr>
                            </footer>
                            <div class="article-summary">
                                {{ article.summary }}
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
            </section>
        {% endblock content %}
